@charset "UTF-8";

:root{
    --main-color:#2957E2;
    --sub-color:#eee;
    --sub-font: 3rem;
}

html{
    /* font-size 10px로 고정 */
    font-size: 62.5%;
}
body{
    /* font-size: clamp(1rem,1vw,1.8rem); */
    background-color: var(--main-color);
    color: var(--sub-color);
    overflow-x: hidden;
}
#logo{
    z-index: 100;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--sub-color);
    color: var(--main-color);
    font-size: 2rem;
    text-align: center;
    line-height: 80px;
    position: fixed;
    top: 20px;
    left: 20px;
    animation: logoFade 4s linear infinite;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#logo > li{
    position: absolute;
    top: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    transition: top 0.5s;
}
#logo > li:nth-child(1){ top: 0;}
#logo > li:nth-child(2){ top: 100%;}
#logo:hover > li:nth-child(1){ top: -100%; }
#logo:hover > li:nth-child(2){ top: 0; }
@keyframes logoFade {
    0%,100%{ opacity: 1;}
    50%{ opacity: 0.5;}
}
header{
    /* padding-top: 17%; */
    padding-top: 100px;
    height: 100vh;
    position: relative;
    font-size: 4rem;
}
.gnb{
    font-size: 3rem;
}
.gnb > li{
    position: relative;
}
.gnb > li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    display: block;
    width: 0%;
    height: 100%;
    background-color: var(--sub-color);
    z-index: -1;
    transition: 0.5s;
}
.gnb > li:hover::before{
    width: 100%;
}
.gnb > li > a{
    transition: 0.5s;
    transform-origin: left center;
}
.gnb > li:hover > a{
    transform: scale(1.3);
    color: var(--main-color);
}
nav{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title{
    font-size: 2rem;
    align-self: flex-end;
}
.title > li{
    margin: 2rem 0;
}
h1{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 14vw;
}
h1::before{
    content:'PORTFOLIO';
    font-size: 15vh;
    color: transparent;
    -webkit-text-stroke: 2px var(--sub-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}
.arrow-wrap{
    position: absolute;
    bottom: 20%;
    left: 20%;
    transform: translateX(-50%);
    width: 100px;
    height: 80px;
    opacity: 0.7;
}
.arrow-wrap > div{
    position: absolute;
    top: 0;
    left: 0;
}
.arrow-wrap > .arrow-box{
    width: 100%;
    height: 100%;
    background-color: var(--sub-color);
    border-radius: 10px;
    transform: rotate(30deg);
    animation: rotareBox 10s linear infinite;
}
@keyframes rotareBox{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.arrow-wrap > .arrow{
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}
/* 공통사항 */
section{
    width: 90%;
    margin:10rem auto;
}
/* about */
section#about{
    margin-top: 10rem;
    font-size: 1.5rem;
}
#about .info{
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#about .info h2{
    font-size: var(--sub-font);
    display:inline-block;
    color: var(--sub-color);
    -webkit-text-stroke: 1px var(--main-color);
    padding: 4rem 0;
    position: relative;
    z-index: 3;
}
#about .info h2::before{
    z-index: -1;
    content: '';
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(30deg);
    aspect-ratio: 1/0.6;
    background-color: var(--main-color);
    border-radius: 20px;
}
#about .info p{
    text-align: right;
    margin-bottom: 3rem;
    word-break:keep-all;
}
#about .word{
    margin: 5rem 0;
}
#about .word h2{
font-size: var(--sub-font);
}
#about .word h2.bottom{
text-align: right;
}
#about .keyword > li{
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
margin: 2rem 0;
}
#about .keyword > li > p{
/* font-size: 3rem; */
font-size: 4vW;
font-weight: bolder;
padding: 1rem 2rem;
border: 1px solid var(--sub-color);
border-radius: 4rem;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
word-break: keep-all;
text-align: center;
}

/* project */
#projects > .project-wrap{
    margin-bottom: 5rem;
}
#projects > .project-wrap > h2{
    border: 1px solid var(--sub-color);
    font-size: var(--sub-font);
    border-radius: 3rem;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}
#projects > .project-wrap > .item-list{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.item-list > .item{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#projects > .project-wrap > .item-list > li > *{
    border: 1px solid var(--sub-color);
    border-top: none;
}
#projects > .project-wrap > .item-list > li > .item-title{
    border-top: 1px solid var(--sub-color);
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 0.8rem;
}
#projects > .project-wrap > .item-list > li > .item-detail{
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 1rem;
}
#projects > .project-wrap > .item-list > li > .item-img{
    background-color: #888;
    width: 100%;
    aspect-ratio: 1/0.5;
}
#projects > .project-wrap > .item-list > li > .item-overview{
    padding: 0.5rem;
}
.item-detail li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.item-detail > li > p{
    width: 100px;
    text-align: right;
    font-weight: 600;
}
.item-detail > li >.tool{
    display: flex;
    gap: 5px;
}
.item-detail > li > .tool > p{
    background-color: var(--main-color);
    color: var(--sub-color);
    border-radius: 1rem;
    padding: 3px 5px;
}
.item > .btn{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.item > .btn > p:hover{
    filter: brightness(70%);
}
.item > .btn > p{
    cursor: pointer;
    flex: 1;
    font-weight: bold;
    padding: 1.5rem;
    text-align: center;
}
/* practice 레이아웃 변경 */
#projects > .practice > .item-list{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.practice .item{
    width: 47%;
}
.practice .item-detail > li > p{
    display: none;
}

/* skills */
#skills > h2{
    border: 1px solid var(--sub-color);
    font-size: var(--sub-font);
    border-radius: 3rem;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}
#skills > .skill-item{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}
#skills > .skill-item > li:hover{
    /* cursor: pointer; */
    filter: brightness(80%);
}
#skills > .skill-item > li{
    background-color: var(--sub-color);
    color: #222;
    padding: 1rem 2rem;
    border-radius: 4rem;
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
/* background */
#skills .skill-item .shape1{ background-color: #B6F85D;}
#skills .skill-item .shape2{ background-color: #6A78F9;}
#skills .skill-item .shape3{ background-color: #EEB22D;}
#skills .skill-item .shape4{ background-color: #c64bca;}
#skills .skill-item .shape5{ background-color: #a54149;}
#skills .skill-item .shape6{ background-color: #F0F988;}
#skills .skill-item .shape7{ background-color: #E29C90;}
#skills .skill-item .shape8{ background-color: #B0CE28;}
#skills .skill-item .shape9{ background-color: #3CA6F8;}
#skills .skill-item .shape10{ background-color: #F97C12;}
#skills .skill-item .shape11{ background-color: #DBFAE1;}
#skills .skill-item .shape12{ background-color: #F3C5C5;}
#skills .skill-item .shape13{ background-color: #5CAC1B;}

/* footer */
footer{
    background-color: var(--sub-color);
    color: var(--main-color);
    font-size: 3rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-wrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
footer .footer-wrap > h2{
    font-size: 6rem;
}
footer .footer-wrap > p{
    padding: 0 1rem;
    font-size: 1.5rem;
}
footer .links> li:nth-child(1){
    background-color: var(--sub-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 1.5rem;
    border-radius: 4rem;
    margin: 1rem 0;
    font-size: 2.5rem;
}
footer .links> li:nth-child(2){
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--sub-color);
    padding: 1.5rem;
    border-radius: 4rem;
    margin: 1rem 0;
    font-size: 2.5rem;
}
