@font-face {
    font-family: 'paybooc';
    src: url('payboocMedium.woff2') format('woff2'),
        url('payboocMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

